@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --main: #ffffff;
  --main-c: #171717;
  --sedondary: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --main: black;
    --main-c: white;
    --secondary: red; 
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover{
  color: rgb(202, 62, 62);
}
