@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
/* DECLARE COLORS as in order in figma */
  --main-1: #FDF4E8;
  --main-1-b: #efd3af;
  --main-2: #E3B971;
  --main-2-b: #d9a03d;
  --main-3: #CD5A48;
  --main-4: #AD442C;
  --main-5: #803124;
  --main-6: #533624;
  --main-7: #212020;

  --neutral-1: #F9FAFB;
  --neutral-2: #E5E7EB;
  --neutral-3: #9CA3AF;
  --neutral-4: #4B5563;
  --neutral-5: var(--main-7);

  --alert-1: #F9DEDC;
  --alert-2: #FEF3C7;
  --alert-3: #ECF5EF;
  --alert-4: #DBEAFE;
  --alert-5: #E2E8F0;

  --main: #ffffff;
  --main-c: #171717;
  --sedondary: red;


  /* FONTS. Imported in layout.jsx */

  .font-a {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: 48px;
  }

    
  .manrope-h2 {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .manrope-thin {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .manrope-h3{
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 32px;
    font-style: normal;
  }
  .manrope-h4{
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
  }
  .manrope-body{
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }

  .manrope-body-bold{
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 16px;
    font-style: normal;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --main: black;
    --main-c: white;
    --secondary: red; 
  }
} */

body {
  /* Manrope-body: */
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  overflow-x: hidden;
}

a:hover{
  color: var(--main-2);
}

.hover-red{
  border: solid 1px transparent;
}
.hover-red:hover{
  background: var(--main-3);
  border-color: var(--main-1);
  color: var(--main-1);
}

.hover-bold:hover{
  font-weight: 800;
}

.text-button{ 
  cursor: pointer;
}

.text-button:hover{
  text-decoration: underline;
}



@layer base {
  :root {
--background: 0 0% 100%;
--foreground: 0 0% 3.9%;
--card: 0 0% 100%;
--card-foreground: 0 0% 3.9%;
--popover: 0 0% 100%;
--popover-foreground: 0 0% 3.9%;
--primary: 0 0% 9%;
--primary-foreground: 0 0% 98%;
--secondary: 0 0% 96.1%;
--secondary-foreground: 0 0% 9%;
--muted: 0 0% 96.1%;
--muted-foreground: 0 0% 45.1%;
--accent: 0 0% 96.1%;
--accent-foreground: 0 0% 9%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 0 0% 98%;
--border: 0 0% 89.8%;
--input: 0 0% 89.8%;
--ring: 0 0% 3.9%;
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;
--radius: 0.5rem;
}
  .dark {
--background: 0 0% 3.9%;
--foreground: 0 0% 98%;
--card: 0 0% 3.9%;
--card-foreground: 0 0% 98%;
--popover: 0 0% 3.9%;
--popover-foreground: 0 0% 98%;
--primary: 0 0% 98%;
--primary-foreground: 0 0% 9%;
--secondary: 0 0% 14.9%;
--secondary-foreground: 0 0% 98%;
--muted: 0 0% 14.9%;
--muted-foreground: 0 0% 63.9%;
--accent: 0 0% 14.9%;
--accent-foreground: 0 0% 98%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 0 0% 98%;
--border: 0 0% 14.9%;
--input: 0 0% 14.9%;
--ring: 0 0% 83.1%;
--chart-1: 220 70% 50%;
--chart-2: 160 60% 45%;
--chart-3: 30 80% 55%;
--chart-4: 280 65% 60%;
--chart-5: 340 75% 55%;
}
}



@layer base {
  * {
    @apply border-border;
}
  body {
    @apply bg-background text-foreground;
}
}

/* Back Button Article */
.back-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
  color: #803124; 
  text-decoration: none;
}

.divider-text {
  color: #803124; 
  font-size: 16px;  
  font-weight: 300;
}


.article-title {
  @apply text-3xl font-bold text-primary mt-8 mb-4;
}

.article-subtitle {
  @apply text-gray-500 font-extrabold text-sm mb-4;
}

.text-primary {
  @apply text-gray-800; /* Adjust color as needed */
}

.text-secondary {
  @apply text-gray-600; /* Adjust color as needed */
}

.link {
  @apply text-blue-500 hover:text-blue-700;
}

.button-primary {
  @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded; /* Adjust color as needed */
}

/* Article Styles */


.article-image {
  @apply rounded-lg shadow-md mb-4;
}

.article-content {
  @apply text-secondary leading-relaxed;
}

/* Table of Contents */
.article-container {
  @apply rounded-lg pb-4 pt-4 mb-4;
}

.toc-list {
  @apply list-none pl-0;
}

.toc-item {
  @apply py-1;
}

/* Timeline Styles */
.timeline-container {
  @apply py-4;
}

/* Other Articles */

.other-articles-title {
  @apply text-lg font-semibold mb-2;
}

.other-article-item {
  @apply flex items-center py-2 border-b border-gray-200 last:border-none;
}

.other-article-image {
  @apply w-20 h-16 object-cover rounded-md mr-4;
}

.other-article-content {
  @apply flex-1;
}

/* Resources Page */
.container {
  @apply max-w-7xl mx-10 px-4 sm:px-6 lg:px-8;
  
}

.h1-article {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 40px; 
}

label-light {
  font-family: "Manrope", serif; 
  font-optical-sizing: auto;
  font-size: 14px; 
}

a:hover{
  color: var(--main-2);
}

.back-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
  color: #803124; 
  text-decoration: none;
}

a:hover .back-button{
  color: var(--main-2);
}

  /*  Styles Article */
.article-subheader {
  @apply text-lg font-extrabold mb-2;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.community-container {
  @apply bg-gray-100 rounded-lg p-4;
}

.community-header {
  font-size: 16px; 
  @apply font-extrabold; 
}

.community-text {
  font-size: 14px;
}

.divider-text {
  color: #803124; 
  font-size: 16px;  
  font-weight: 400;
}

.article-title {
  @apply text-3xl font-bold mt-8 mb-4;
}

.other-article-image {
  @apply w-20 h-16 object-cover rounded-md mr-4;
}

.toc-list {
  @apply list-none pl-0;
}

.link {
  @apply text-red-500 hover:text-red-800;
}